<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">
        <img alt="9GAG" height="20" src="../assets/img/header-logo.png">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/hot']">Hot</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/trending']">Trending</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/fresh']">Fresh</a></li>
      </ul>
      <div class="nav navbar-right">
        <form class="navbar-form navbar-left" role="search" (ngSubmit)="search()">
          <input type="text" class="form-control" placeholder="Type to search..." [(ngModel)]="query" [ngModelOptions]="{standalone: true}">
        </form>
        <button class="btn btn-default navbar-btn" (click)="loginModal.show()">Sign in</button>
        <a class="btn btn-primary navbar-btn" [routerLink]="['/']">Sign up</a>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<app-login #loginModal="child"></app-login>