<div *ngIf="!posts && !error">
  <i class="fa fa-3x fa-spin fa-spinner" aria-hidden="true"></i>
</div>
<div *ngIf="error">
  <alert type="danger">
    <strong>Error fetching posts!</strong> {{error}}
  </alert>
</div>
<div *ngIf="posts">
  <div class="posts" *ngFor="let post of posts">
    <a [routerLink]="['/post', post.id]" target="_blank">
      <h4>{{post.title}}</h4>
    </a>
    <hr>
  </div>
  <nav>
    <ul class="pager">
      <li [ngClass]="{disabled: page == 1}">
        <a [routerLink]="['/' + postsType, page - 1]"><span aria-hidden="true">&larr;</span>&nbsp;Previous</a>
      </li>
      <li>
        <a [routerLink]="['/' + postsType, page + 1]">Next&nbsp;<span aria-hidden="true">&rarr;</span></a>
      </li>
    </ul>
  </nav>
</div>